/* src/components/UserNavbar.css */
.user-navbar {
    background-color: #4285f4 ; /* Green color for user navbar */
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-navbar h1 {
    margin: 0;
    font-size: 1.5rem;
  }